This is a machine learning model based on multiple linear regression .
In the dataset we try to predict which product can be pitched to the user based on the prediction made by the model based on the previous data.
The dataset consists of various values like 'Age','Type of contact','City Tier' and many more.
First we import the libraries needed to run the model like pandas,pylab and numpy.

In [106]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

Using the pd.read_csv command we import the file on which we will make prediction, after that we use head command to print the first few rows of our model.

In [107]:
df=pd.read_csv(r'C:/Users/yashi/OneDrive/Desktop/mycodes/hotel_data.csv')
df.head(12)

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1,1,2,1,0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2,0,3,1,2
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7,1,3,0,0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2,1,5,1,1
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1,0,5,1,0
5,200005,0,32.0,Company Invited,1,8.0,Salaried,Male,3,3.0,Basic,3.0,Single,1,0,5,1,1
6,200006,0,59.0,Self Enquiry,1,9.0,Small Business,Female,2,2.0,Basic,5.0,Divorced,5,1,2,1,1
7,200007,0,30.0,Self Enquiry,1,30.0,Salaried,Male,3,3.0,Basic,3.0,Married,2,0,2,0,1
8,200008,0,38.0,Company Invited,1,29.0,Salaried,Male,2,4.0,Standard,3.0,Unmarried,1,0,3,0,0
9,200009,0,36.0,Self Enquiry,1,33.0,Small Business,Male,3,3.0,Deluxe,3.0,Divorced,7,0,3,1,0
10,200010,0,35.0,Self Enquiry,1,22.0,Small Business,Male,2,2.0,Basic,4.0,Divorced,1,0,3,1,1
11,200011,0,NaN,Self Enquiry,1,21.0,Salaried,Female,2,4.0,Deluxe,3.0,Single,1,1,3,0,0

In [108]:
cdf=df[['Age','TypeofContact','CityTier','Occupation','MaritalStatus','NumberOfTrips','Passport','ProductPitched']]
cdf.head(10)
cdf=df[['TypeofContact','CityTier','Occupation','MaritalStatus','NumberOfTrips','Passport','ProductPitched']].values
cdf[0:9]
from sklearn import preprocessing

le_TypeofContact=preprocessing.LabelEncoder()
le_TypeofContact.fit(['Company Invited','Self Enquiry'])
cdf[:,0]=le_TypeofContact.transform(cdf[:,0])

le_Occupation=preprocessing.LabelEncoder()
le_Occupation.fit(['Salaried','Free Lancer','Small Business','Large Business'])
cdf[:,2]=le_Occupation.transform(cdf[:,2])



le_MaritalStatus=preprocessing.LabelEncoder()
le_MaritalStatus.fit(['Single','Married','Unmarried','Divorced'])
cdf[:,3]=le_MaritalStatus.transform(cdf[:,3])

le_ProductPitched=preprocessing.LabelEncoder()
le_ProductPitched.fit(['Basic','Standard','King','Deluxe','Super Deluxe'])
cdf[:,6]=le_ProductPitched.transform(cdf[:,6])

In [109]:
msk=np.random.rand(len(cdf))<0.8
train=cdf[msk]
test=cdf[~msk]

In [110]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
x=np.asanyarray(train[:,[0,1,2,3,4,5]])
y=np.asanyarray(train[:,[6]])
regr.fit(x,y)
print('coefficients',regr.coef_)

coefficients [[-0.78718874  0.40316662 -0.28519348  0.03866485  0.08074587 -0.35609813]]

In [111]:
y_hat=regr.predict(test[:,[0,1,2,3,4,5]])
x=np.asanyarray(test[:,[0,1,2,3,4,5]])
y=np.asanyarray(test[:,[6]])

In [112]:
def predict_services(data):
    assert isinstance(data, list) and len(data) == 6
    
   
    data = np.array(data).reshape(1, -1)
    
    
    predicted_service = regr.predict(data)
    
   
    predicted_service = le_ProductPitched.inverse_transform(predicted_service.astype(int))
    
    return predicted_service[0]


input_data = [1, 1, 1, 1, 0, 0] 
print("Predicted service:", predict_services(input_data))

Predicted service: Deluxe

C:\Users\yashi\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:153: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)